*.class
*.ear
*.war
.idea/
/build/
/bwapi-data/BWTA2/*
/dist/
Atlantis.iml
Atlantis.jar
bin/
build.xml
Chaos launcher.lnk
desktop.ini
ENV
hs_err_pid*
IntelliJ IDEA Community Edition 2020.3.3.lnk
logs/units/
manifest.mf
nbbuild.xml
nbproject/
out/
param_tweaker/
replay_pid*
/bwapi-data/write/*
/bwapi-data/write/cherryvis.txt
/benchmark_results.csv
/_benchmarkState
/game_results.txt
