bin/

desktop.ini
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/build/
/dist/
/bwapi-data/BWTA2/*
nbproject/
build.xml
manifest.mf
nbbuild.xml
.idea/
Atlantis.iml
out/
Chaos launcher.lnk
IntelliJ IDEA Community Edition 2020.3.3.lnk
Atlantis.jar
param_tweaker/
logs/units/
