LOCAL=true

BWAPI_DATA_PATH=D:\\JAVA\\Starcraft\\bwapi-data\\

# Change this to the location of ChaosLauncher
CHAOS_LAUNCHER_PATH=C:\Program Files (x86)\\BWAPI\\Chaoslauncher\\Chaoslauncher - MultiInstance.exe

